.shadow-custom {
  box-shadow:
    0 4px 6px -1px rgba(255, 255, 255, 0.5),
    0 2px 4px -1px rgba(255, 255, 255, 0.5);
}

.hover\:shadow-custom-lg:hover {
  box-shadow:
    0 10px 15px -3px rgba(255, 255, 255, 0.5),
    0 4px 6px -2px rgba(255, 255, 255, 0.5);
}

.task-node {
    transition: width 0.5s ease-in-out;
  }

  .task-node.expanded {
    width: 200px; /* Adjust the width as needed */
  }